[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==18.9b0"
chainer = "==6.0.0b1"
comet-ml = "==1.0.42"
cupy-cuda92 = "==6.0.0b1"
cython = "==0.29.2"
descartes = "==1.1.0"
geopandas = {editable = true, ref = "0.4.0-26-g9e584cc", git = "https://github.com/geopandas/geopandas.git"}
gmt = {editable = true, ref = "0.1a3-131-g9772fa3", git = "https://github.com/weiji14/gmt-python.git"}
ipython = "==7.2.0"
jupyterlab = "==0.35.4"
jupytext = "==0.8.6"
keras = "==2.2.4"
livelossplot = "==0.2.3"
matplotlib = "==3.0.2"
netcdf4 = "==1.4.1"
numpy = "==1.14.5"
onnx_chainer = "==1.3.0a1"
packaging = "==18.0"
pandas = "==0.23.4"
pyproj = "==1.9.6"
quilt = "==2.9.14"
rasterio = "==1.0.13"
requests = "==2.21.0"
scikit-image = "==0.14.1"
scikit-learn = "==0.20.2"
shapely = "==1.7a1"
tensorflow = "==1.10.1"
toolz = "==0.9.0"
tornado = "==5.1.1"
tqdm = "==4.28.1"

[dev-packages]
behave = "==1.2.6"
nbval = "==0.9.1"
pytest = "==4.0.2"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
