[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "==0.28.5"
ipython = "==7.0.1"
jupyterlab = "==0.35.0"
keras = "==2.2.4"
livelossplot = "==0.2.0"
matplotlib = "==3.0.0"
packaging = "==18.0"
PDAL = "==2.0.0"
pipenv = "==2018.10.9"
quilt = "==2.9.11"
rasterio = "==1.0.8"
requests = "==2.19.1"
scikit-image = "==0.14.1"
shapely = "==1.7a1"
tensorflow = "==1.11.0"
tensorflow-gpu = "==1.11.0"
tqdm = "==4.26.0"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
