[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==18.9b0"
cython = "==0.29.1"
gmt = {editable = true, ref = "0.1a3-131-g9772fa3", git = "https://github.com/weiji14/gmt-python.git"}
ipython = "==7.1.1"
jupyterlab = "==0.35.4"
jupytext = "==0.8.6rc0"
keras = "==2.2.4"
livelossplot = "==0.2.0"
matplotlib = "==3.0.2"
netcdf4 = "==1.4.1"
numpy = "==1.14.5"
packaging = "==18.0"
pandas = "==0.23.4"
pyproj = "==1.9.5.1"
quilt = "==2.9.13"
rasterio = "==1.0.10"
requests = "==2.20.1"
scikit-image = "==0.14.1"
shapely = "==1.7a1"
tensorflow = "==1.10.1"
tensorflow-gpu = "==1.10.1"
toolz = "==0.9.0"
tqdm = "==4.28.1"

[dev-packages]
behave = "==1.2.6"
nbval = "==0.9.1"
pytest = "==4.0.1"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
